---
import Timeline from "../../components/Timeline.astro";
import NavDarkLayout from "../../layouts/NavDarkLayout.astro";
import experiences from "../../data/experiences";
import formations from "../../data/formations";
import Skills from "../../components/Skills.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "fr" } }];
}
---

<NavDarkLayout>
  <div class="timeline">
    <Skills />
    <Timeline title={t("about.title.experiences")} events={experiences} />
    <Timeline title={t("about.title.formations")} events={formations} />
  </div>
</NavDarkLayout>

<style>
  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
  }
</style>
