---
import Timeline from "../../components/Timeline.astro";
import NavDarkLayout from "../../layouts/NavDarkLayout.astro";
import experiences from "../../data/experiences";
import formations from "../../data/formations";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "fr" } }];
}
---

<NavDarkLayout>
  <div class="about">
    <Timeline title="Experiences" events={experiences} />
    <Timeline title="Formations" events={formations} />
  </div>
</NavDarkLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10rem;
  }
</style>
