---
import "../../styles/global.css";
import DarkLayout from "../../layouts/DarkLayout.astro";
import SocialsLink from "../../components/SocialsLink.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "fr" } }];
}
---

<DarkLayout title="Home">
  <div class="presentation-container">
    <div class="presentation">
      <h1>Arthur IOUZALEN</h1>
      <span>
        {t("home.description")}
      </span>
      <div class="presentation-links">
        <SocialsLink />
        <a class="about" href={`/${lang}/about/`}> {t("home.button.about")}</a>
      </div>
    </div>
  </div>
</DarkLayout>

<style>
  .presentation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-inline: 1.75rem;
  }
  .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .presentation h1 {
    font-size: 4rem;
    margin: 0;
  }
  .presentation span {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  :global(.dark) .github {
    display: none;
  }
  .github-white {
    display: none;
  }
  :global(.dark) .github-white {
    display: contents;
  }
  .presentation-links {
    gap: 1rem;
    display: flex;
    align-items: stretch;
  }
  .about {
    height: auto;
    display: flex;
    align-items: center;
    background-color: var(--secondary-bg-color);
    color: black !important;
    padding-inline: 1.75rem;
    border-radius: 20rem;
  }
  :global(.dark) .about {
    background-color: var(--secondary-bg-color);
    color: var(--dark-text-color);
  }

  .presentation-links a {
    text-decoration: none;
    color: inherit;
  }
</style>
