---
import Card from "../../components/Card.astro";
import NavDarkLayout from "../../layouts/NavDarkLayout.astro";

const projects = [
  {
    name: "Project 1",
    description: "Description of Project 1",
    link: "/projects/1",
  },
  {
    name: "Project 2",
    description: "Description of Project 2",
    link: "/projects/2",
  },
];

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "fr" } }];
}
---

<NavDarkLayout title="Projets">
  <h1>Projects</h1>
  <div class="card-container">
    {projects.map((project) => <Card project={project} />)}
  </div>
</NavDarkLayout>
