---
import NavDarkLayout from "../../../layouts/NavDarkLayout.astro";

const id = Astro.params.project;
---

<NavDarkLayout title="Projet">
  <h1>Project</h1>
  <p>{id}</p>
  <div class="card-container">project</div>
</NavDarkLayout>
