body {
  margin: 0;
}

html.dark {
  background-color: #0d0950;
  color: #fff !important;
}

.dark .nav-links a {
  color: #fff !important;
}

html * {
  font-size: 1em !important;
  font-family: "Calibri", sans-serif !important;
}

html,
body,
article {
  height: 100%;
}
