:root {
  --main-text-color: #000;
  --dark-text-color: #fff;
  --primary-bg-color: #fff;
  --secondary-bg-color: #ededed;
  --dark-bg-color: #121212;
}

body {
  margin: 0;
}

html.dark {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color) !important;
}

.dark a {
  color: var(--dark-text-color) !important;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.3s ease;
  color: var(--main-text-color);
}

html * {
  font-size: 1em;
  font-family: "Calibri", sans-serif !important;
}

html,
body,
article {
  height: 100%;
}
