---
import Timeline from "../components/Timeline.astro";
import NavDarkLayout from "../layouts/NavDarkLayout.astro";
import experiences from "../data/experiences.ts";
import formations from "../data/formations.ts";
---

<NavDarkLayout>
  <div class="about">
    <Timeline title="Experiences" events={experiences} />
    <Timeline title="Formations" events={formations} />
  </div>
</NavDarkLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10rem;
  }
</style>
