---
import "../styles/global.css";
import GitHubLogo from "../assets/github.svg";
import GitHubLogoWhite from "../assets/github-white.svg";
import LinkedInLogo from "../assets/linkedin.svg";
import { Image } from "astro:assets";
import DarkLayout from "../layouts/DarkLayout.astro";
---

<DarkLayout title="Home">
  <div class="presentation">
    <h1>Arthur IOUZALEN</h1>
    <span>
      Développeur full stack à la recherche de nouvelles opportunités
      professionnelles
    </span>
    <div class="presentation-links">
      <div class="socials">
        <a href="https://github.com/Sroyart" class="github" target="_blank">
          <Image src={GitHubLogo} width="32" height="32" alt="GitHub" />
        </a>
        <a
          href="https://github.com/Sroyart"
          class="github-white"
          target="_blank"
        >
          <Image src={GitHubLogoWhite} width="32" height="32" alt="GitHub" />
        </a>
        <a
          href="https://www.linkedin.com/in/arthur-iouzalen-342136194/"
          target="_blank"
        >
          <Image src={LinkedInLogo} width="32" height="32" alt="LinkedIn" />
        </a>
      </div>
      <a class="about" href="about">A propos</a>
    </div>
  </div>
</DarkLayout>

<style>
  .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .presentation h1 {
    font-size: 4rem;
    margin: 0;
  }
  .presentation span {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  :global(.dark) .github {
    display: none;
  }
  .github-white {
    display: none;
  }
  :global(.dark) .github-white {
    display: contents;
  }
  .presentation-links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  :global(.dark) .about {
    background-color: white;
    color: black !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 1.75rem;
    border-radius: 20rem;
  }
  .presentation-links a {
    text-decoration: none;
    color: inherit;
  }
</style>
