---
// Component Imports
import HomeLayout from "../layouts/HomeLayout.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<HomeLayout title="Home">
  <div class="container">
    <div>
      <p>
        Diplômé d'un Mastère en Spécialisation Développement full stack à Sup de
        Vinci, j'ai trois ans d'expérience en alternance en tant que développeur
        full stack à la Gendarmerie Nationale. Je suis à présent à la recherche
        de nouvelles opportunités professionnelles.
      </p>
    </div>
    <div></div>
  </div>
</HomeLayout>

<style>
  .center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
