---
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";

const projects = [
  {
    name: "Project 1",
    description: "Description of Project 1",
    link: "/projects/1",
  },
  {
    name: "Project 2",
    description: "Description of Project 2",
    link: "/projects/2",
  },
];
---

<MainLayout title="Projets">
  <h1>Projects</h1>
  <div class="card-container">
    {projects.map((project) => <Card project={project} />)}
  </div>
</MainLayout>
