---
import "../styles/navigation.css";

const pathname = Astro.url.pathname.substring(1);
---

<div>
  <section class="top-nav">
    <input id="menu-toggle" type="checkbox" />
    <label class="menu-button-container" for="menu-toggle">
      <div class="menu-button"></div>
    </label>
    <div class="menu">
      <a href="/">Home</a>
      <a class={pathname === "about" ? "active" : ""} href="/about">About</a>
      <a class={pathname === "CV" ? "active" : ""} href="/CV">CV</a>
      <!-- <a class={pathname === "Project" ? "active" : ""} href="/projects"
        >Projects</a
      > -->
    </div>
  </section>
</div>
