---
import "../styles/navigation.css";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const pathname = Astro.url.pathname.substring(1);
---

<div>
  <section class="top-nav">
    <input id="menu-toggle" type="checkbox" />
    <label class="menu-button-container" for="menu-toggle">
      <div class="menu-button"></div>
    </label>
    <div class="menu">
      <a href={`/${lang}/`}>{t("nav.home")}</a>
      <a class={pathname === "about" ? "active" : ""} href={`/${lang}/about/`}
        >About</a
      >
      <a class={pathname === "CV" ? "active" : ""} href=`/${lang}/CV/`>CV</a>
      <!-- <a class={pathname === "Project" ? "active" : ""} href="/projects"
        >Projects</a
      > -->
    </div>
  </section>
</div>
