---
import GitHubLogo from "../assets/github.svg";
import GitHubLogoWhite from "../assets/github-white.svg";
import LinkedInLogo from "../assets/linkedin.svg";
import { Image } from "astro:assets";
---

<div class="socials">
  <a href="https://github.com/Sroyart" class="github" target="_blank">
    <Image
      height={32}
      width={32}
      src={GitHubLogo}
      alt="GitHub"
      loading="eager"
    />
  </a>
  <a href="https://github.com/Sroyart" class="github-white" target="_blank">
    <Image
      height={32}
      width={32}
      src={GitHubLogoWhite}
      alt="GitHub"
      loading="eager"
    />
  </a>
  <a
    href="https://www.linkedin.com/in/arthur-iouzalen-342136194/"
    target="_blank"
  >
    <Image
      height={32}
      width={32}
      src={LinkedInLogo}
      alt="LinkedIn"
      loading="eager"
    />
  </a>
</div>

<style>
  :global(.dark) .github {
    display: none;
  }
  .github-white {
    display: none;
  }
  :global(.dark) .github-white {
    display: contents;
  }
</style>
